.organisation {
	&__body {
	}

	&__header {
		font-family: OpenSans;
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.035em;
		color: #e0e0e0;
	}

	&__menu {
		font-family: OpenSans;
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.035em;
		color: #e0e0e0;
	}

	&__list {
		font-family: OpenSans;
		font-size: 14px;
		line-height: 24px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.035em;
		color: #e0e0e0;
	}

	&__row {
	}

	&__column {
	}
}
.organisation-item {
	&__title {
	}

	&__subtitle {
	}

	&__btn {
	}

	&__video {
	}
}
