@font-face {
	font-family: 'Conv_pobeda-bold1';
	src: url('../fonts/pobeda-bold1.eot');
	src: local('☺'), url('../fonts/pobeda-bold1.woff') format('woff'), url('../fonts/pobeda-bold1.ttf') format('truetype'), url('../fonts/pobeda-bold1.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.body{
	margin: 0;
    padding: 0;
}
.header{
	display: flex;
	width: 1445px;
	top:760px
}
.img{
  background-image: url('../project/img/BSPP2266.png');
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
 }