@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.organisation {
    display: flex;
    align-items: center;
    max-height: 100%;
    justify-content: center;
    background-color: #f6f2f2;
}
.organisation__body {
    max-width: 1249px;
}
.organisation__header {
    background-color: #000000;
    opacity: 0.8;
    margin-top: 29px;
    margin-bottom: 108px;
    height: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.organisation__menu {
    position: relative;
}
.organisation__list {
    display: flex;
    justify-content: center;
    align-items: center;
}
.organisation__link {
    font-family: OpenSans;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.035em;
    color: #e0e0e0;
    text-decoration: none;
}
li {
    margin: 0px 35px;
    text-decoration: none;
}
li:hover {
    padding: 32.58px;
    transition: 0.8s;
    background-color: #ff3f40;
}
li:not(:hover) {
    transition: 0.8s;
}

.organisation__row {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}
.organisation__column {
    flex: 0 1 50%;
    padding-right: 100px;
}
.organisation__column-1 {
    width: 551px;
    height: auto;
    background-color: #c4c0b1;
    align-items: center;
    display: flex;
    justify-content: center;
}
.organisation-item {
}

.organisation-item__title {
    font-family: OpenSans;
    font-size: 60px;
    line-height: 72px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    color: #000000;
    padding-bottom: 36px;
}
.organisation-item__subtitle {
    opacity: 0.7;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 58px;
}
.item__btn {
    display: inline-block;
    border: 1px solid transparent;
    padding: 0px 63px;
    background-color: #ff2d2d;
    border-radius: 5px;
    font-family: OpenSans;
    font-size: 18.2px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
}
.item__btn:hover {
    background-color: #f6f2f2;
    color: #ff2d2d;
    border: 1px solid #ff2d2d;
}
.organisation-item__icon {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 70px;
    height: 69px;
}

.provide {
    display: flex;
    align-items: center;
    max-height: 100%;
    justify-content: center;
}
.provide__body {
    max-width: 1186px;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    position: relative;
}

.provide__columns {
    flex: 0 0 39%;
    padding-right: 130px;
    text-align: left;
}
.provide__columns-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
.provide__title {
    opacity: 0.8;
    font-family: OpenSans;
    font-size: 38px;
    line-height: 55px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    color: #000000;
    padding-bottom: 50px;
}
.provide__subtitle {
    font-family: OpenSans;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #000000;
    padding-bottom: 50px;
    text-align: justify;
}
.provide__columns-row {
    flex-basis: 40%;
    flex-wrap: wrap;
    padding-right: 50px;
    padding-bottom: 50px;
    
}
.provide__columns-row:nth-child(even){
     padding-right: 0px;
}
.provide__btn {
    display: inline-block;
    border: 1px solid transparent;
    padding: 0px 63px;
    background-color: #ff2d2d;
    border-radius: 5px;
    font-family: OpenSans;
    font-size: 18.2px;
    line-height: 55px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;

}
.provide__btn:hover {
    background-color: #f6f2f2;
    color: #ff2d2d;
    border: 1px solid #ff2d2d;
}
.provide__icon {
    width: 41px;
    height: 41px;
    padding-bottom: 30px;
}
.provide__text {
    padding-bottom: 17px;
    opacity: 0.7;
    font-family: OpenSans;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: 0.01em;
    color: #000000;
}
.provide__text2 {
    opacity: 0.7;
    font-family: OpenSans;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
